################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/gwItemInfoRetriever/bin/Debug
/gwItemInfoRetriever/App.config
/gwItemInfoRetriever/Properties/AssemblyInfo.cs
/.vs/gwItemInfoRetriever/v14/.suo
